   - name: Epel Release  install when CentOS
     shell: yum install epel-release -y
     when: ansible_os_family == "RedHat"
   - name: Inxi  install when CentOS
     shell: yum install inxi -y
     when: ansible_os_family == "RedHat"
   - name: system info collection tool install when Ubuntu
     shell: apt-get update && apt-get install inxi -y
     when: ansible_os_family  == "Debian"
   - name: Install ansible copy dependencies if remote host has selinux enabled
     shell: yum  install libselinux-python -y
     when: ansible_os_family == "RedHat"
   - name: Install ansiblle copy dependencies if remote host has selinux enaled
     shell: apt-get install python-selinux -y
     when: ansible_os_family == "Debian"
   - name: system_info script copy
     copy: src=./info_script/info_collect.py dest={{home_dir.stdout}}/qtip_result/
   - name: collecting system informaton for non-network test cases
     shell: cd $HOME/qtip_result &&  python info_collect.py c
     when: not network
   - name: collecting system information for network test  cases
     shell: cd $HOME/qtip_result && python info_collect.py n
     when: network





