[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

mock = "*"
pykwalify = "*"
pytest = "*"
pytest-cov = "*"
pytest-faker = "*"
pytest-mock = "*"


[packages]

ansible = "*"
click = "*"
connexion = "<=1.1.11"
"jinja2" = "*"
numpy = "*"
pbr = "*"
prettytable = "*"
pyyaml = "*"
humanfriendly = "*"
asq = "*"
requests = "*"
shade = "*"


[requires]

python_version = "2.7"
