pyyaml==3.10
paramiko==1.16.0
python-neutronclient==2.6.0
python-novaclient==2.28.1
python-glanceclient==1.1.0
python-cinderclient==1.4.0
python-heatclient==0.6.0
python-keystoneclient==1.6.0
reportlab==3.0
Flask==0.11.1
Flask-RESTful==0.3.5
flask-restful-swagger==0.19
