##############################################################################
# Copyright (c) 2017 ZTE Corporation and others.
#
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

# Common tasks for installer master setup

---

- include: "gather-facts-{{ installer_type }}.yml"

- name: generating inventory file
  template: src=templates/hosts dest=./hosts
  delegate_to: localhost
- name: generating ssh.cfg file
  template: src=templates/ssh.cfg dest=./ssh.cfg
  delegate_to: localhost
