##############################################################################
# Copyright (c) 2017 ZTE Corporation and others.
#
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Apache License, Version 2.0
# which accompanies this distribution, and is available at
# http://www.apache.org/licenses/LICENSE-2.0
##############################################################################

---
- name: installing epel release
  become: true
  yum:
    name: epel-release
    state: present

- name: installing dependencies
  become: true
  yum:
    name: "{{ item }}"
    state: present
  with_items:
    - "@Development tools"
    - gcc-c++
    - libselinux-python
    - libpcap-devel
    - rsync
    - git
