Memory
======

INTEGER
^^^^^^^
{{ ('Copy', intmem_metrics['copy'][0])|justify }}
{{ ('Scale', intmem_metrics['scale'][0])|justify }}
{{ ('Add', intmem_metrics['add'][0])|justify }}
{{ ('Triad', intmem_metrics['triad'][0])|justify }}

FL-POINT
^^^^^^^^
{{ ('Copy', floatmem_metrics['copy'][0])|justify }}
{{ ('Scale', floatmem_metrics['scale'][0])|justify }}
{{ ('Add', floatmem_metrics['add'][0])|justify }}
{{ ('Triad', floatmem_metrics['triad'][0])|justify }}
