Memory
======

{% for host in groups['compute'] %}
{{ hostvars[host].ansible_hostname }}
-----------------------------

INTEGER
^^^^^^^
{% set metrics=hostvars[host].intmem_metrics %}
{{ ('Copy', metrics.integer_copy[0])|justify }}
{{ ('Scale', metrics.integer_scale[0])|justify }}
{{ ('Add', metrics.integer_add[0])|justify }}
{{ ('Triad', metrics.integer_triad[0])|justify }}

FL-POINT
^^^^^^^^
{% set metrics=hostvars[host].floatmem_metrics %}
{{ ('Copy', metrics.float_copy[0])|justify }}
{{ ('Scale', metrics.float_scale[0])|justify }}
{{ ('Add', metrics.float_add[0])|justify }}
{{ ('Triad', metrics.float_triad[0])|justify }}

{% endfor %}
