Host node-5
  HostName 10.20.5.12
  User root
  # Use `ProxyCommand` for OpenSSH before 7.3
  ProxyCommand ssh -o 'ForwardAgent yes' fuel-master 'ssh-add && nc %h %p'
  # `ProxyJump` is available since OpenSSH 7.3
  # ProxyJump fuel-master

Host node-4
  HostName 10.20.5.14
  User root
  # Use `ProxyCommand` for OpenSSH before 7.3
  ProxyCommand ssh -o 'ForwardAgent yes' fuel-master 'ssh-add && nc %h %p'
  # `ProxyJump` is available since OpenSSH 7.3
  # ProxyJump fuel-master

Host node-7
  HostName 10.20.5.15
  User root
  # Use `ProxyCommand` for OpenSSH before 7.3
  ProxyCommand ssh -o 'ForwardAgent yes' fuel-master 'ssh-add && nc %h %p'
  # `ProxyJump` is available since OpenSSH 7.3
  # ProxyJump fuel-master

Host node-6
  HostName 10.20.5.16
  User root
  # Use `ProxyCommand` for OpenSSH before 7.3
  ProxyCommand ssh -o 'ForwardAgent yes' fuel-master 'ssh-add && nc %h %p'
  # `ProxyJump` is available since OpenSSH 7.3
  # ProxyJump fuel-master

Host node-1
  HostName 10.20.5.10
  User root
  # Use `ProxyCommand` for OpenSSH before 7.3
  ProxyCommand ssh -o 'ForwardAgent yes' fuel-master 'ssh-add && nc %h %p'
  # `ProxyJump` is available since OpenSSH 7.3
  # ProxyJump fuel-master

Host node-3
  HostName 10.20.5.11
  User root
  # Use `ProxyCommand` for OpenSSH before 7.3
  ProxyCommand ssh -o 'ForwardAgent yes' fuel-master 'ssh-add && nc %h %p'
  # `ProxyJump` is available since OpenSSH 7.3
  # ProxyJump fuel-master

Host node-2
  HostName 10.20.5.13
  User root
  # Use `ProxyCommand` for OpenSSH before 7.3
  ProxyCommand ssh -o 'ForwardAgent yes' fuel-master 'ssh-add && nc %h %p'
  # `ProxyJump` is available since OpenSSH 7.3
  # ProxyJump fuel-master

