{{ ('=', '=')|justify }}
{{ ('Plan Name', plan_name)|justify }}
{{ ('Start Time', start_time)|justify }}
{{ ('Stop Time', stop_time)|justify }}
{% for sys in sut %}
{{ '\033[92m' }} {{ sys.name }} {{ '\033[0m' }}
{% for qpi in sys.qpis %}
{%- for bm in qpi.benchmarks -%}
{%- if bm.name == metric_name -%}
{%- if metric_name == 'dhrystone' or metric_name == 'whetstone' -%}
{# TODO (taseer) remove hardcoded material #}
{% include 'unixbench.j2' %}
{% else %}
{% include '%s.j2' % metric_name %}
{% endif %}
System Information
{{ ('CPU', bm.sysinfo.cpu)|justify }}
{{ ('Disk', bm.sysinfo.disk)|justify }}
{{ ('Host Name', bm.sysinfo.hostname)|justify }}
{{ ('Kernel', bm.sysinfo.kernel)|justify }}
{{ ('Memory', bm.sysinfo.memory)|justify }}
{{ ('Operating System', bm.sysinfo.os)|justify }}
{{ ('Product', bm.sysinfo.product)|justify }}
{%- endif -%}
{%- endfor -%}
{% endfor %}

{{ ('\033[93m*', '*\033[0m')|justify }}
{%- endfor -%}
