{{ title }}

Plan: {{ plan.name }}

{{ qpi.name }}: {{ qpi.score }}
Sections:
{% for section in sections %}
    {{ section.name }}: {{ section.score }}

    Formula: {{ section.formula }}
    Metrics:
    {% for metric in section.metrics %}
        {{ metric.name }}: {{ metric.score }}
        Formula: {{ metric.formula }}
        Workloads:
        {% for workload in workloads %}
            {{ workload.name }}: {{ workload.score }}
        {% endfor %}
    {% endfor  %}
{% endfor %}

{{ signature }}
