{{ ('Benchmark', bm.name)|justify }}
{{ ('CPU Usage', bm.cpu_usage)|justify }}
AES 128 CBC (bytes)
{{ ('16', bm.results.aes_128_cbc_16_bytes)|justify }}
{{ ('64',  bm.results.aes_128_cbc_64_bytes)|justify }}
{{ ('256', bm.results.aes_128_cbc_256_bytes)|justify }}
{{ ('1024', bm.results.aes_128_cbc_1024_bytes)|justify }}
{{ ('8192', bm.results.aes_128_cbc_8192_bytes)|justify }}

RSA SIGN
{{ ('512', bm.results.rsa_sign_512)|justify }}
{{ ('1024', bm.results.rsa_sign_1024)|justify }}
{{ ('2048', bm.results.rsa_sign_2048)|justify }}
{{ ('4096', bm.results.rsa_sign_4096)|justify }}

RSA VERIFY
{{ ('512', bm.results.rsa_verify_512)|justify }}
{{ ('1024', bm.results.rsa_verify_1024)|justify }}
{{ ('2048', bm.results.rsa_verify_2048)|justify }}
{{ ('4096', bm.results.rsa_verify_4096)|justify }}
