System Information

CPU: {{ cpu }}
CPU Usage: {{ cpu_usage }}
Disk Usage: {{ disk_usage }}
Host Name: {{ host_name }}
Kernel: {{ kernel }}
Memory Usage: {{ mem_usage }}
Operating System: {{ os }}
Product: {{ product }}
Time: {{ time }}
