{{ ('Benchmark', bm.name)|padding }}
{{ ('CPU Usage', bm. cpu_usage)|padding }}

Multi CPU
{{ ('Number', bm.results.multi_cpus.num)|padding }}
{{ ('Score', bm.results.multi_cpus.score)|padding }}

Single CPU
{{ ('Number', bm.results.single_cpu.num)|padding }}
{{ ('Score', bm.results.single_cpu.score)|padding }}
{{ ('Total CPUs', bm.results.total_cpus)|padding }}