{% extends 'bench/base.html' %}
{% block content %}
    <div class="card">
        <div class="header">
            <h2>Task</h2>
        </div>
        <div class="body">
            <table class="table-responsive table">
                <thead>
                    <tr role="row">
                        <th>Repo</th>
                        <th>Status</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Run time</th>
                     </tr>
                </thead>
                <tbody>
                    <tr role="row">
                        <td>{{ object.repo}}</td><td>{{ object.get_status_display }}</td><td>{{ object.start_time }}</td>
                        <td>{{ object.end_time }}</td><td>{{ object.duration }}</td><td>{{ object.log }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="body">
            <div>
                <p>
                    {{ log | linebreaks }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}