System Information from inxi
============================

{{ ('CPU Brand', system_info.cpu[0])|justify }}
{{ ('Disk', system_info.disk[0])|justify }}
{{ ('Host Name', system_info.hostname[0])|justify }}
{{ ('Kernel', system_info.kernel[0])|justify }}
{{ ('Memory', system_info.memory[0])|justify }}
{{ ('Operating System', system_info.os[0])|justify }}
{{ ('Product', system_info.product[0])|justify }}
