[fuel-master]
fuel-master

[local]
localhost   ansible_connection=local

[fuel-groups:children]
ceph-osd
cluster-1
compute
controller
hw-zte-servers
mongo
node-1
node-2
node-3
node-4
node-5
node-6
node-7

[fuel-groups:vars]
ansible_ssh_common_args=-F ./ssh.cfg

[ceph-osd]
node-2
node-4
node-6
node-7

[cluster-1]
node-1
node-2
node-3
node-4
node-5
node-6
node-7

[compute]
node-2
node-4
node-6
node-7

[controller]
node-1
node-3
node-5

[hw-zte-servers]
node-1
node-2
node-3
node-4
node-5
node-6
node-7

[mongo]
node-1

[node-1]
node-1

[node-2]
node-2

[node-3]
node-3

[node-4]
node-4

[node-5]
node-5

[node-6]
node-6

[node-7]
node-7

